<div class="container mt-4">
  <h4 class="mb-3 row text-primary"> <p class="col-10">Company List</p> <button (click)="goToAddCompany()" class="float-right col-2 btn btn-primary btn-block">Add Company</button></h4>

  <!-- Loading Indicator -->
  <div *ngIf="isLoading" class="text-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Company List -->
  <div *ngIf="!isLoading && companies.length > 0">
    <div class="card shadow-sm">
      <ul class="list-group list-group-flush">
        <li 
          *ngFor="let company of companies" 
          (click)="goToCompanyDetails(company.id)" 
          class="list-group-item d-flex justify-content-between align-items-center company-item"
        >
          <div>
            <strong>{{ company.name }}</strong> ({{ company.ticker }})  
            <br>
            <small class="text-muted">ISIN: {{ company.isin }}</small>
          </div>
          <i class="bi bi-arrow-right-circle text-primary"></i> <!-- Bootstrap Icon -->
        </li>
      </ul>
    </div>
  </div>

  <!-- No Data Message -->
  <div *ngIf="!isLoading && companies.length === 0" class="text-center mt-4">
    <p class="text-muted">No companies found.</p>
  </div>
</div>

<router-outlet></router-outlet>
